<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #page-static-resources},
                                                ~{:: #page-nav},
                                                ~{:: #page-main-content},
                                               )}">

<head>
    <title>About!</title>
</head>
<body>
    <div id="page-nav" th:replace="~{/fragments/app-fragments :: nav-default}"></div>
    <div id="page-main-content">
        <h2>About</h2>


        <h3 id="reference-documentation">Reference Documentation</h3>
        <p>For further reference, please consider the following sections:</p>
        <ul>
            <li><a href="https://maven.apache.org/guides/index.html">Official Apache Maven documentation</a></li>
            <li><a href="https://docs.spring.io/spring-boot/docs/2.5.6/maven-plugin/reference/html/">Spring Boot Maven Plugin Reference Guide</a></li>
            <li><a href="https://docs.spring.io/spring-boot/docs/2.5.6/maven-plugin/reference/html/#build-image">Create an OCI image</a></li>
            <li><a href="https://docs.spring.io/spring-boot/docs/2.5.6/reference/htmlsingle/#howto-use-exposing-spring-data-repositories-rest-endpoint">Rest Repositories</a></li>
            <li><a href="https://docs.spring.io/spring-boot/docs/2.5.6/reference/htmlsingle/#boot-features-developing-web-applications">Spring Web</a></li>
            <li><a href="https://docs.spring.io/spring-boot/docs/2.5.6/reference/htmlsingle/#using-boot-devtools">Spring Boot DevTools</a></li>
            <li><a href="https://docs.spring.io/spring-boot/docs/2.5.6/reference/htmlsingle/#boot-features-security">Spring Security</a></li>
            <li><a href="https://docs.spring.io/spring-boot/docs/2.5.6/reference/htmlsingle/#boot-features-spring-mvc-template-engines">Thymeleaf</a></li>
            <li><a href="https://docs.spring.io/spring-boot/docs/2.5.6/reference/htmlsingle/#boot-features-mongodb">Spring Data MongoDB</a></li>
            <li><a href="https://docs.spring.io/spring-boot/docs/2.5.6/reference/htmlsingle/#boot-features-websockets">WebSocket</a></li>
        </ul>
        <h3 id="guides">Guides</h3>
        <p>The following guides illustrate how to use some features concretely:</p>
        <ul>
            <li><a href="https://spring.io/guides/gs/accessing-data-rest/">Accessing JPA Data with REST</a></li>
            <li><a href="https://spring.io/guides/gs/accessing-neo4j-data-rest/">Accessing Neo4j Data with REST</a></li>
            <li><a href="https://spring.io/guides/gs/accessing-mongodb-data-rest/">Accessing MongoDB Data with REST</a></li>
            <li><a href="https://spring.io/guides/gs/rest-service/">Building a RESTful Web Service</a></li>
            <li><a href="https://spring.io/guides/gs/serving-web-content/">Serving Web Content with Spring MVC</a></li>
            <li><a href="https://spring.io/guides/tutorials/bookmarks/">Building REST services with Spring</a></li>
            <li><a href="https://spring.io/guides/gs/securing-web/">Securing a Web Application</a></li>
            <li><a href="https://spring.io/guides/tutorials/spring-boot-oauth2/">Spring Boot and OAuth2</a></li>
            <li><a href="https://spring.io/guides/gs/authenticating-ldap/">Authenticating a User with LDAP</a></li>
            <li><a href="https://spring.io/guides/gs/handling-form-submission/">Handling Form Submission</a></li>
            <li><a href="https://spring.io/guides/gs/accessing-data-mongodb/">Accessing Data with MongoDB</a></li>
            <li><a href="https://spring.io/guides/gs/messaging-stomp-websocket/">Using WebSocket to build an interactive web application</a></li>
        </ul>

    </div>


    <th:block id="page-static-resources">
        <script>
            $(function(){
                console.log('hello from about!');
            });
        </script>
    </th:block>
</body>
</html>