<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #page-static-resources},
                                                ~{:: #page-nav},
                                                ~{:: #page-main-content},
                                               )}">

<head>
    <title>Index</title>
</head>
<body>
    <div id="page-nav" th:replace="~{/fragments/app-fragments :: nav-default}"></div>

    <div id="page-main-content">
        <div class="row">
            <div class="col-sm-12" className="bloc" >
                <span>[[${found}]]</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12" className="bloc">
                <div class="inner cover">
                    <h3 class="cover-heading">Spring WebFlux!</h3>
                    <div class="lead">
                        <p>Spring WebFlux est un framework Web entièrement <b>non bloquant</b> et basé sur des annotations, construit sur <b>Reactor Project</b>, qui permet de créer des applications réactives sur la couche HTTP.<br/> WebFlux utilise une nouvelle fonctionnalité de fonctions de routeur pour appliquer une programmation fonctionnelle à la couche Web et contourner les contrôleurs déclaratifs et les RequestMappings.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12" className="bloc">
                <h6>Todos (TodoController)..</h6>
                <form class="form-inline" style="margin-bottom: 10px;" id="create-form">
                    <input type="text" class="form-control" id="title" placeholder="todo (title)..">
                    <button type="submit" id="btn-add" class="btn btn-primary form-control">Add</button>
                </form>
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-bordered table-striped mb-0">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Done?</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="result" data-th-each="todo : ${todos}">
                            <td>[[${todo.id}]] <br/> [[${todo.title}]]</td>
                            <td th:class="${todo.done ? 'green' : 'red'}">[[${todo.done}]]</td>
                            <td>
                                <!--                                            <a th:href="@{/category/edit/{id}(id=${category.idCategory})}">view</a>-->
                                <a th:href="@{/todos/delete/{id}(id=${todo.id})}">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                                <a th:href="@{|/todos/done/${todo.id}|}">
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <th:block id="page-static-resources">
        <script>
            $(function(){
                console.log('hello from jquery!');

                $("#create-form").submit(function (event) {
                    event.preventDefault();
                    fire_ajax_submit();
                });

                scroll_handle();
            });

            function scroll_handle(){
                const debounce = (fn) => {
                    let frame;
                    return (...params) => {
                        if (frame) {
                            cancelAnimationFrame(frame);
                        }
                        frame = requestAnimationFrame(() => {
                            fn(...params);
                        });

                    }
                };
                const storeScroll = () => {
                    document.documentElement.dataset.scroll = window.scrollY;
                }
                document.addEventListener('scroll', debounce(storeScroll), { passive: true });
                storeScroll();
            }

            function fire_ajax_submit() {

                var todo = {}
                todo["title"] = $("#title").val();
                todo["done"] = false;

                $("#btn-add").prop("disabled", true);
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "/todos/create",
                    data: JSON.stringify(todo),
                    dataType: 'json',
                    cache: false,
                    success: function (data) {
                        console.log("Success : ", JSON.stringify(data, null, 4));
                        window.location.replace("/");
                        $("#btn-add").prop("disabled", false);
                    },
                    error: function (e) {
                        alert("Ajax Error : "+e.responseText);
                    }
                });

            }
        </script>
    </th:block>
</body>
</html>