<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="shortcut icon" href="../resources/static/images/favicon.ico" th:href="@{/images/favicon.ico}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <title>Index</title>
</head>
<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">
                        <img th:src="@{/images/spring-boot-logo.png}" alt="" class="logo" />
                    </h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <h3 class="cover-heading">Spring boot WebFlux!</h3>
                <div class="lead">
<!--                    <img th:src="@{/images/webflux.png}" alt="springwebflux"  style="width:80%;margin:auto;display: inline-block;"/>-->
                    <p>Spring WebFlux est un framework Web entièrement non bloquant et basé sur des annotations, construit sur Project Reactor, qui permet de créer des applications réactives sur la couche HTTP. WebFlux utilise une nouvelle fonctionnalité de fonctions de routeur pour appliquer une programmation fonctionnelle à la couche Web et contourner les contrôleurs déclaratifs et les RequestMappings. WebFlux vous oblige à importer Reactor en tant que dépendance principale.</p>
                    <a href="./api/todos" class="btn btn-sm btn-success">WebFlux Request (api/todos)</a>
                </div>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <span class="text-muted">&copy; MC 2019-2021.</span>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>

</body>
</html>